.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  line-height: 40px;
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
  color: #3d348b;
  background-color: #f7b801;
  border: 1px solid #f35b04;
  border-radius: 8%;
}

.buttons button:hover {
  background-color: #f18701;
}
